<!DOCTYPE html>
<html>
	<head>
		<title>maidchan</title>
		<link rel="stylesheet" type="text/css" id="def_style" href="/static/css/maidchan.css">
		<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
		<link rel="icon" href="static/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/js/maidchan-app.js"></script>
	</head>
	<body>
		<div id="logocontainer"><img id="logo" src="static/img/maidchan.png" alt="maidchan"></div>
		<% db.execute "SELECT * FROM posts WHERE parent IS NULL ORDER BY date_of_bump DESC" do |row| %>
			<div id="reply">
				<a href="topic/<%= row[0] %>"><%= row[1] %></a>
				<% if is_moderator?(session) %>
					 <a href="/delete/<%= row[0] %>" target="_blank"><i class="fa fa-trash" aria-hidden="true"></i></a>
				<% end %>
			</div>
		<% end %>
		<form method="POST" action="/post" enctype="multipart/form-data">
			<input type="text" name="name" placeholder="Name">
			<input type="file" name="file">
			<input type="text" name="title" placeholder="Title">
			<textarea name="comment" id="reply_comment" placeholder="Comment here"></textarea>
			<input type="submit" name="submit" value="Reply">
		</form>
		<div style="text-align: center; font-size: x-small;">
			<a href="#" onClick="setTheme('light')">Light</a> | <a href="#" onClick="setTheme('dark')">Dark</a>
		</div>
	</body>
</html>
