<!DOCTYPE html>
<html>
	<head>
		<title>maidchan</title>
		<link rel="stylesheet" type="text/css" href="static/maidchan.css">
		<link rel="icon" href="static/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	<body>
		<div id="logocontainer"><img src="static/maidchan.png" alt="maidchan"></div>
		<% db.execute "SELECT * FROM posts WHERE parent IS NULL ORDER BY date_of_bump DESC" do |row| %>
			<div id="reply"><a href="topic/<%= row[0] %>"><%= row[1] %></a></div>
		<% end %>
		<form method="POST" action="/post" enctype="multipart/form-data">
			<input type="text" name="name" placeholder="Name">
			<input type="file" name="file">
			<input type="text" name="title" placeholder="Title">
			<textarea name="comment" id="reply_comment" placeholder="Comment here"></textarea>
			<input type="submit" name="submit" value="Reply">
		</form>
	</body>
</html>
