<!DOCTYPE HTML>
<html>
	<head>
		<title>maidchan</title>
		<link rel="stylesheet" type="text/css" href="/static/maidchan.css">
		<link rel="icon" href="/static/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	<body>
		<div id="logocontainer"><img id="logo" src="/static/maidchan.png" alt="maidchan"></div>
                <form method="post" action="/mod">
                        <input type="text" name="name" placeholder="Name"><br>
			<input type="password" name="pass" placeholder="Password">
                        <input type="submit" name="submit" value="Reply">
        	</form>
	</body>
</html>
